# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home3/investi9/public_html/west-plaza-lawsuit"
PassengerBaseURI "/west-plaza-lawsuit"
PassengerPython "/home3/investi9/public_html/west-plaza-lawsuit/venv/bin/python"
PassengerAppLogFile "/home3/investi9/logs/passenger_west_plaza.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END

<IfModule mod_headers.c>
  <FilesMatch "\.(html|css|js)$">
    FileETag None
    Header unset ETag
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires 0
  </FilesMatch>
</IfModule>
